.form {
  display: flex;
  position: relative;
}

.form .exapmle-e-mail-com {
  flex: 1;
  font-family: var(--16-regular-font-family);
  font-size: var(--16-regular-font-size);
  font-style: var(--16-regular-font-style);
  font-weight: var(--16-regular-font-weight);
  letter-spacing: var(--16-regular-letter-spacing);
  line-height: var(--16-regular-line-height);
  margin-top: -1px;
  position: relative;
}

.form .frame {
  flex: 1;
  position: relative;
}

.form .ellipse-2 {
  background-color: var(--black80-base);
  border-radius: 4px;
  height: 8px;
  position: relative;
  width: 8px;
}

.form .instance-node {
  height: 16px !important;
  position: relative !important;
  width: 16px !important;
}

.form .choose {
  flex: 1;
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.08px;
  line-height: 20px;
  position: relative;
}

.form .element-2 {
  align-self: stretch;
  font-family: "Inter", Helvetica;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: -0.67px;
  line-height: 36px;
  margin-top: -1px;
  position: relative;
  text-align: center;
}

.form .vector {
  align-self: stretch !important;
  height: 1px !important;
  margin-bottom: -0.5px !important;
  object-fit: cover !important;
  position: relative !important;
  width: 100% !important;
}

.form.password {
  align-items: center;
  background-color: var(--black-20);
  border-radius: 12px;
  gap: 12px;
  height: 48px;
  padding: 12px 16px;
  width: 315px;
}

.form.select {
  align-items: center;
  background-color: var(--black-20);
  border-radius: 12px;
  gap: 12px;
  height: 48px;
  padding: 12px 16px;
  width: 315px;
}

.form.textfiled {
  align-items: center;
  background-color: var(--black-20);
  border-radius: 12px;
  gap: 12px;
  padding: 12px 16px;
  width: 315px;
}

.form.code {
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  width: 47px;
}

.form .default {
  color: var(--black-60);
}

.form .filled {
  color: var(--black80-base);
}

.form .state-default {
  color: var(--black-60);
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.08px;
  line-height: 20px;
}

.form .state-filled {
  align-items: flex-start;
  display: flex;
  flex-grow: 1;
  gap: 5px;
}

.form .state-0-default {
  color: var(--black-60);
}

.form .state-0-filled {
  color: var(--black80-base);
}

.form .state-1-default {
  color: var(--white);
}

.form .state-1-filled {
  color: var(--black80-base);
}
