.button-outline {
  align-items: center;
  border: 1px solid;
  border-color: var(--button-color);
  border-radius: 16px;
  box-shadow: 0px 4px 30px #e3dbf30a;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  overflow: hidden;
  padding: 16px 20px;
  position: relative;
}

.button-outline .flat-color-icons {
  height: 24px !important;
  position: relative !important;
  width: 24px !important;
}

.button-outline .with-google {
  color: var(--black80-base);
  font-family: var(--16-semibold-font-family);
  font-size: var(--16-semibold-font-size);
  font-style: var(--16-semibold-font-style);
  font-weight: var(--16-semibold-font-weight);
  letter-spacing: var(--16-semibold-letter-spacing);
  line-height: var(--16-semibold-line-height);
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}
